.footer__container {
    z-index: 999;
    bottom: 0;
    // background: #d49fe9;
    background: #74a6e0;
    height: 5vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    p{
        color: $white;

        a{
            color: #000000;
            font-style: italic;
        }
    }
}

@media only screen and (max-width: 600px) {

    .footer__container{
        height: 3vh;
        bottom: 0;
    }
}